/*
    #282829
    #BDC1CA
 
/*/
 
body {
    font-family: ' Roboto','sans-serif';
    background-color: rgb(205, 173, 226);
    color: rgb(0, 0, 0);
}
 
main {
    width: 30vw;
    margin: 0 auto;
}
 
section{
    padding: 20px ;
}
 
figure {
    max-width: 160px;
    max-height: 160px;
    margin: 0 auto;
}
 
figure img {
    width: 100%;
    border-radius: 50% ;
}
h1 {
    text-align: center;
    margin-bottom: 10px ;
}
p{
    text-align: justify;
}
 
.card-container{
    display: flex;
    justify-content: space-between;
}
 
.card{
    width: 160px ;
    padding: 10px ;
    border: 1px solid #c0cdd3;
    border-radius: 6px;
    background-color: rgb(240, 119, 234);
}
 
.card ul li{
    margin-bottom: 6px;
}
 